{
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx,mjs,cjs}",
      "options": {
        "bracketSameLine": false,
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    }
  ]
}
